:root {
  /* font-family*/
  --main-font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* font-color */
  --main-font: rgb(2, 20, 48);
  --time-font: rgb(37, 211, 102);
  --player-left-font: rgb(0, 0, 0);
  --player-right-font: rgb(0, 0, 0);
  --input-font: rgb(0, 0, 0);
  --title-choose-font: rgb(158, 21, 85);
  /* font-size */
  --team-name-font-size: 2.2vw;
  --score-font-size: 5vw;
  --time-font-size: 3.5vw;
  --stats-font-size: 2.2vw;
  --player-font-size: 3vw;
  --input-font-size: 3vw;
  --input-undo-font-size: 2.5vw;
  --log-undo-font-size: 3vw;
  --log-li-font-size: 1.11vw;
  --game-list-font-size: 1.8vw;
  --game-list-add-font-size: 1.5vw;
  --navigation-buttons-font-size: 1.7vw;
  /* background-color */
  --main-bg: rgb(133, 155, 167);
  --title-bg: rgb(173, 206, 200);
  --ui-bg: rgb(233, 231, 203);
  --foul-limit-bg: rgb(231, 27, 27);
  --score-bg: rgb(240, 235, 235);
  --time-bg: rgb(27, 30, 37);
  --time-minute-bg: rgb(255, 178, 36);
  --time-15-seconds-bg: rgb(245, 41, 27);
  --player-left-bg: rgb(35, 148, 50);
  --player-right-bg: rgb(218, 99, 20);
  --input-bg: rgb(173, 117, 117);
  --log-list-bg: rgba(255, 248, 220, 0.445);
  --box-score-bg: rgb(154, 168, 80);
  --box-score-blur-bg: rgba(39, 37, 37, 0.274);
  --box-score-list-odd-bg: rgb(132, 160, 155);
  --box-score-list-even-bg: rgb(173, 206, 200);
  --exit-bg: rgb(182, 88, 88);
  --save-bg: rgb(80, 177, 88);
  /* border-radius*/
  --ui-radius: 5%;
  --player-radius: 10%;
  --rect-radius: 1%;
  /* sizes */
  --score-size: 70%;
  --player-size: 70%;
  --input-size: 65%;
}

/* root container  */
.container {
  display: grid;
  grid-template-rows: [score-bar] 2fr [main] 6fr [logs-bar] 2fr;
  background: var(--main-bg);
  font-family: var(--main-font-family);
}

.container-add-game {
  display: grid;
  grid-template-rows: 1fr 20fr;
  background: var(--main-bg);
  font-family: var(--main-font-family);
}

/* ------------LOGIN */

.login-wrapper {
  background: var(--main-bg);
}

.login-view {
  width: 50%;
  height: 50%;
}

.login-input {
  display: block;
}

/* -------------SETTINGS */

.settings-wrapper {
  background: var(--main-bg);
  position: absolute;
}

.settings-view {
  width: 50%;
  height: 50%;
}

.settings-input {
  display: block;
}

.settings-button{
  position: absolute;
  width: 10%;
  height: 10%;
}

/* HELPERS */

/* reset default behaviour of element */
.reset-default {
  margin: 0;
  padding: 0;
}

/*  */
.wrapper {
  height: 100%;
  width: 100%;
}

/* center items horizontally and vertically */
.hv-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

.h-c {
  display: flex;
  justify-content: center;
}
