/* -----------------Main wrapper (score-bar)*/
.score-bar {
  grid-row-start: score-bar;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 5fr 1.5fr 2fr 1.5fr 5fr;
  grid-template-areas:
    ". score-left time score-right  ."
    "name-left score-left stats score-right name-right";
}

/* -----------------Names */
.foul-limit {
  height: 70%;
  width: 3%;
  background: var(--foul-limit-bg);
}

.name-left {
  grid-area: name-left;
}

.name-right {
  grid-area: name-right;
}

.name-left-view,
.name-right-view {
  height: 70%;
  width: 90%;
  background: var(--ui-bg);
  border-radius: var(--rect-radius);
  font-size: var(--team-name-font-size);
}

/* -----------------Scores */
.score-left {
  grid-area: score-left;
}

.score-right {
  grid-area: score-right;
}

.score-left-view,
.score-right-view {
  height: 70%;
  width: 70%;
  background: var(--score-bg);
  border-radius: var(--ui-radius);
  font-size: var(--score-font-size);
}

/* -----------------Time */
.time {
  grid-area: time;
}

.time-view {
  height: 90%;
  width: 100%;
  background: var(--time-bg);
  color: var(--time-font);
  border-radius: var(--rect-radius);
  font-size: var(--time-font-size);
}

/* -----------------Stats (number of quarter)*/
.stats {
  grid-area: stats;
}

.stats-view {
  height: 60%;
  width: 30%;
  background: var(--ui-bg);
  border-radius: var(--ui-radius);
  font-size: var(--stats-font-size);
}

/* -----------------save and quit*/

.save-quit-wrapper {
  height: 6%;
  width: 10%;
  background: var(--exit-bg);
  position: absolute;
  right: 0;
  top: 0;
}
