.title-choose {
  color: var(--title-choose-font);
  background: var(--title-bg);
  border-bottom: 5px solid var(--title-choose-font);
}

.game-list-view {
  width: 80%;
  height: 98%;
  overflow: auto;
}

.game-list-element {
  height: 15%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr 0.5fr 4fr 2fr 1fr;
  font-family: var(--main-font-family);
  font-size: var(--game-list-font-size);
}

.game-team {
  height: 50%;
  width: 80%;
  background: var(--ui-bg);
  border-radius: var(--rect-radius);
}

.game-score {
  height: 50%;
  width: 80%;
  color: var(--ui-bg);
  border: 3px solid var(--ui-bg);
  border-radius: var(--rect-radius);
}

.game-category {
  height: 50%;
  width: 60%;
  font-size: 1.5vw;
  color: var(--ui-bg);
  border: 3px solid var(--ui-bg);
  border-radius: var(--rect-radius);
}

.vs {
  color: var(--ui-bg);
}

.game-edit {
  width: 70%;
  height: 50%;
  color: var(--main-bg);
  background: var(--ui-bg);
}

/* ----ADD GAME UI*/

/* .game-list-element-add {
  height: 15%;
  width: 100%;
  font-family: var(--main-font-family);
  font-size: var(--game-list-font-size);
}

.game-add-symbol {
  color: green;
  width: 5%;
  height: 50%;
  background: rgb(96, 175, 96);
}

.game-add {
  height: 15%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr 0.5fr 4fr 2fr 1fr;
  font-family: var(--main-font-family);
  font-size: var(--game-list-add-font-size);
}

select {
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-left: 20%;
  font-family: var(--main-font-family);
  font-size: var(--game-list-add-font-size);
}
option {
  text-align: center;
} */

/* select::-ms-expand {
  display: none;
} */
